    <aside class="sidebar">
        <a href="" class="sidebar__close"></a>

        <a href="/" class="logo">
            <img src="<%= @site_map['Logo'] %>" alt="">
        </a>

        <ul class="doc-link">
            <%- @site_map['Documents'].each do |categories| -%>

                <%- categories.each do |key, value| -%>
                    <li class="doc-link__category">
                        <a href="" class="doc-link__header"><%= key -%></a>

                        <%- first_entry = true -%>

                        <ul class="doc-link__items">
                            <%- value.each do |key2| -%>
                                <%- if key===@site_map.keys[0] && first_entry -%>
                                    <%- active_keyword="active" -%>
                                    <%- first_entry = false -%>
                                <%- else -%>
                                    <%- active_keyword="" -%>
                                <%- end -%>
                                <li><a class="<%=active_keyword%>" href="#<%=key2["Slug"]%>"><%=key2.keys[0]%></a></li>
                            <%- end -%>
                        </ul>
                    </li>
                <%- end -%>

            <%- end -%>
        </ul>
    </aside>

    <section class="content">
