<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="<%= @site_map["SEO Author"] %>">

    <%-# key2 comes from gluegun.rb and denotes current document being generated -%>
    <%-# key2 is defined for all pages except for index.html -%>
    <%- if defined?(key2) -%>
      <%- if !key2["SEO Title"] -%>
        <%-# if title not specified, default to site title and document name -%>
        <title><%= @site_map['Site'] + " | " + key2.keys[0] %></title>
      <%- else -%>
        <title><%= key2["SEO Title"] %></title>
      <%- end -%>
      <meta name="description" content="<%= key2["SEO Description"] %>">
      <meta name="keywords" content="<%= key2["SEO Keywords"] %>">
    <%- else -%>
      <%-# Take first entry specified under the 'Documents' key for index page-%>
      <%- if !@site_map['Documents'][0].values[0][0]["SEO Title"] -%>
        <%-# if title not specified, default to site title and document name -%>
        <title><%= @site_map['Site'] + " | " + @site_map['Documents'][0].values[0][0].keys[0] %></title>
      <%- else -%>
        <title><%= @site_map['Documents'][0].values[0][0]["SEO Title"] %></title>
      <%- end -%>
      <meta name="description" content="<%= @site_map['Documents'][0].values[0][0]["SEO Description"] %>">
      <meta name="keywords" content="<%= @site_map['Documents'][0].values[0][0]["SEO Keywords"] %>">
    <%- end -%>

    <link href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" rel="stylesheet">
    <link href="/<%=@site_map['Output']%>/css/gluegun.min.css" rel="stylesheet">
    <link href="/<%=@site_map['Output']%>/vendors/highlight.js/default.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <%- if !@site_map['Plugins'].nil? -%>
      <%- @site_map['Plugins'].each do |categories| -%>
        <%- if categories.key?("Algolia") && !categories["Algolia"].nil? -%>
          <%- if categories["Algolia"].key?("apiKey") && categories["Algolia"].key?("index") -%>
            <style type="text/css">
              .algolia-autocomplete {
                width: 100%;
                left: 0; }
              .algolia-autocomplete .ds-dropdown-menu {
                min-width: 500px;
                max-width: 800px; }
              @media (max-width: 991px) {
                .algolia-autocomplete .ds-dropdown-menu {
                  min-width: 200px; } }
              .algolia-autocomplete .ds-dropdown-menu:before {
                display: none !important; }
            </style>
          <%- end -%>
        <%- end -%>
      <%- end -%>
    <%- end -%>
  </head>

  <body>
